<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- https://gist.github.com/DimaSamodurov/127c39244d0b411bfb474a8102a83497 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125974527-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      document.addEventListener('turbolinks:load', event => {
        if (typeof gtag === 'function') {
          gtag('js', new Date());
          gtag('config', 'UA-125974527-1', {
            'page_location': event.data.url
          });
        }
      });
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> CloudCoin - <%= content_for?(:title) ? yield(:title) : 'BitShares Upload' %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="CloudCoin,BitShares,exchange,Cloud Currency">
    <meta name="description" content="Upload your CloudCoins to BitShares. CloudCoin is the world's first Cloud Currency. Upload your .stack files. Use BitShares to exchange your CloudCoins to any other Digital Currency">
    <meta name="subject" content="Upload CloudCoin (.stack file) to BitShares Wallet">
    <meta name="copyright"content="CloudCoin Consortium">
    <meta name="language" content="EN">
    <meta name="topic" content="CloudCoin - Cloud Currency, Digital Currency">    
    <meta name="author" content="Dipen Chauhan, info@cloudcoin.global">
    <meta name="designer" content="Dipen Chauhan">
    <meta name="reply-to" content="info@cloudcoin.global">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="google-site-verification" content="NyIxj-kqU9Bj9iEQf_2b4i44CM25avV3AW0-ZPMSqbo" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#007bff">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/loader" %>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
